*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
h2{
    position: absolute;
    top: 50%;
    left: 43%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9fb0bb;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 30%;
    left: 45%;
    text-align: center;
   
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



 
  }
  @media only screen and (max-device-width:788px){
    .loader{
        text-align: center;
        position: absolute;
        left: 40%;
    }
    h2{
        font-size: 16px;
        left: 40%;
        top: 40%;
    }
   
  }
  @media (max-width:700px){
    .loader{
        text-align: center;
        position: absolute;
        left: 30%;
    }
    h2{
        font-size: 16px;
        left: 30%;
    }
   